.crewListView {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 13px;
    color: #525252;
}

.crewListView td {
    border-top: 1px solid #E5E6E6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.crewListView thead tr:first-child td:first-child {
    background-color: #FAFAFA;
}

.crewListView thead tr:last-child td:first-child {
    border-left: 2px solid #E5E6E6;
}

.crewListView tbody tr:last-child td {
    border-bottom: 1px solid #E5E6E6;
}

/*设置第一行和第二行表头的样式:背景，文字颜色、大小，边距*/
.crewListView thead tr:first-child td:nth-child(2) {
    background-color: #5DAAE8;
    color: #FFFFFF;
    border-right: 2px solid #FFFFFF;
    font-size: 16px;
    width: 55%;
}

.crewListView thead tr:first-child td:nth-child(3) {
    background-color: #F0AE55;
    color: #FFFFFF;
    font-size: 16px;
    width: 35%;
}

.crewListView thead tr:nth-child(2) {
    background-color: #FAFAFA;
    color: #222222;
    font-weight: 500;
}

/*设置在船人员和上船计划分割线*/
.crewListView tbody td:nth-child(7), .crewListView thead tr:nth-child(2) td:nth-child(6) {
    border-right: 2px solid #DCDCDC;
}

/*设置表格body第一列（坐标列）的样式*/
.crewListView tbody td:first-child {
    border-right: 2px solid #DCDCDC;
    background-color: #FAFAFA;
}

/*设置其他文本的样式*/
.noteTextView {
    color: #AFA9A8;
    -webkit-transform: scale(0.8);
    display: block;
}

.noCrewTextView {
    color: #D5D5D5;
    border-right: 2px solid #DCDCDC;
}

.noSuccessorTextView {
    color: #D5D5D5;
}