.navigate-container, .navigate-bar {
    display: inline-block;
}

.navigate-bar {
    position: relative;
}

.whiteCircle {
    display: block;
    border: 2px solid #DDDDDD;
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 6px;
    height: 6px;
}

.brink {
    display: block;
    width: 2px;
    height: 10px;
    background-color: #DDDDDD;
}

.greyCircle {
    display: block;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    background-color: #DDDDDD;
    width: 6px;
    height: 6px;
}

.join {
    display: block;
    width: 2px;
    height: 30px;
    background-color: #DDDDDD;
}

.navigate-text {
    display: inline-block;
    float: right;
    margin-top: 16px; /*第一行文字距View顶部的距离*/
}

.navigate-textView {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #2C2C2C;
    margin-bottom: 20px; /*每行文字之间的距离*/
    padding-left: 20px; /*文字和竖线的距离*/
    -webkit-user-select: none;
    -moz-user-select: none;
    text-align: left;
}

.navigate-textView:nth-last-child(1) {
    margin-bottom: 0;
}

.navigate-textView-active, .navigate-textView:hover {
    cursor: pointer;
    color: #1B8EF6;
}

.right {
    position: absolute;
    display: inline-block;
    border: 2px solid #FFFFFF;
    background: url("../img/right_indicate.png");
    width: 20px; /*根据图片大小修改*/
    height: 11px; /*根据图片大小修改*/
    left: -5px; /*根据图片大小修改*/
    top: 18px; /*根据图片大小修改*/
}